<mat-toolbar color="primary">
  <div class="d-flex justify-content-start">
    <span>Shopping Cart App</span>
    <button mat-icon-button aria-label="Home Button" [routerLink]="['/home']" style="margin-right:20px">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-raised-button aria-label="APOD Button" [routerLink]="['/apod']" style="margin-right:20px">
      APOD
    </button>
    <button mat-raised-button aria-label="DONKI Button" [routerLink]="['/donki']" style="margin-right:20px">
      DONKI
    </button>
  </div>
  
  <span class="example-spacer"></span>
  <div class="d-flex justify-content-end">
    <button mat-icon-button aria-label="Cart Button" [routerLink]="['/cart']" *ngIf="isAuthenticated">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
  <button mat-raised-button color="accent" *ngIf="isAuthenticated"
          (click)="oktaAuth.signOut()" [routerLink]="['/home']">Logout
  </button>
  <button mat-raised-button color="accent" *ngIf="!isAuthenticated"
          (click)="oktaAuth.signInWithRedirect()">Login
  </button>
</mat-toolbar>
<router-outlet></router-outlet>